<?xml version="1.0"?>

<Settings>
	<Siebel>
		<NoOfSiebSrvrs>1</NoOfSiebSrvrs>
		<NoOfWebSrvrs>1</NoOfWebSrvrs>
		<Gateway>SEADVSBL19APL02</Gateway>
		<Enterprise>SBLDEV19ENT</Enterprise>
		<SiebelServer>SEADVSBL19APL02</SiebelServer>
		<AdminUser>sadmin</AdminUser>
		<AdminPassword>Aa7b30cez980</AdminPassword>
		<SiebSrvrName>SEADVSBL19APL0</SiebSrvrName>
		<WebSrvrName>SEADVSBL19APL0</WebSrvrName>
		<SvcNo>01</SvcNo>
		<WebSrvSvcNo>1</WebSrvSvcNo>
		<SiebelServerBinPath>D:\sea\ses\siebsrvr\BIN</SiebelServerBinPath>
		<BrowserScriptDestPath>D:\sea\ai\applicationcontainer\webapps\siebel</BrowserScriptDestPath>
		<BrowserScriptLanguageCode>ENU</BrowserScriptLanguageCode>
		<RepositoryName>Siebel Repository</RepositoryName>
		<ScriptLogPath>D:\FTPRoot\Rollouts\ScriptLogs</ScriptLogPath>
		<ServerDataSource>SBLDEV19ENT_DSN</ServerDataSource>
		<DBTableOwner>SIEBEL</DBTableOwner>
		<DBTableOwnerPassword>siebel</DBTableOwnerPassword>
		<SchemaDDLPath>D:\sea\ses\dbsrvr/oracle</SchemaDDLPath>
		<TNSServiceName></TNSServiceName>
		<LogarchivePath>D:\sea\ses\siebsrvr\logarchive</LogarchivePath>
		<LogCleanupDuration>14</LogCleanupDuration>
		<ScriptLogDuration>30</ScriptLogDuration>
		<ChangedRepositoryObjectsQueryText></ChangedRepositoryObjectsQueryText>
		<ChangedNonRepositoryObjectsQueryText></ChangedNonRepositoryObjectsQueryText>	
		<SourceTSTDir>\\seadvsbl19apl02\d$\FTPRoot\Rollouts\LatestFiles</SourceTSTDir>
		<SharedDeploymentFiles>\\SEAVVFILE1\jsgroup\SOLAR\LM_Space\SharedDeploymentFiles</SharedDeploymentFiles>
		<PreDeployFldr>\\seavvarchive1\software\eps\PreDeploy\mp\vendor\siebel</PreDeployFldr>
		<LoyaltyScheduler>D:\LoyaltyScheduler</LoyaltyScheduler>
		<CurrDir>D:\FTPRoot\Rollouts\LatestFiles</CurrDir>
		<PrevDir>D:\FTPRoot\Rollouts\Previous</PrevDir>
		<SvcName>siebsrvr_sbldev19ent_sbl19dvsrvr</SvcName>
		<Svc>1</Svc>
		<RemoteSiebelServerBinPath>D$\sea\ses\siebsrvr\bin</RemoteSiebelServerBinPath>
		<RemoteSRFPath>D$\sea\ses\siebsrvr\OBJECTS\ENU</RemoteSRFPath>
		<RemoteSiebelClientRoot>D$\Siebel\Client</RemoteSiebelClientRoot>
		<RemoteSiebelToolsBinPath>D$\Siebel\Tools\bin</RemoteSiebelToolsBinPath>
		<RemoteBrowserScriptDestPath>D$\sea\ai\applicationcontainer\webapps\siebel</RemoteBrowserScriptDestPath>
		<RemoteCurrDir>D$\FTPRoot\Rollouts\LatestFiles</RemoteCurrDir>
		<RemotePrevDir>D$\FTPRoot\Rollouts\Previous</RemotePrevDir>
		<AuthenticatedUser></AuthenticatedUser>
		<AuthenticatedUserPassword></AuthenticatedUserPassword>
		<Env>SolarDEVDeployment</Env>
		<ImportRepository>True</ImportRepository>
		<HasDR>N</HasDR>
		<SaturnUser>saturn</SaturnUser>
		<SaturnPassword>saturn</SaturnPassword>
		<DBConnect>(DESCRIPTION=(ADDRESS_LIST=(ADDRESS=(PROTOCOL=TCP)(HOST=seadvsbl8db02.alaskaair.com)(PORT=1521)))(connect_data=(SERVICE_NAME=SOLDEV)))</DBConnect>  
		<SyncServ>01</SyncServ>
		<ReportUser>soreport_work</ReportUser>
		<ReportPassword>soreport_work</ReportPassword>
		<BoaWfServer>sbl19dvsrvr2</BoaWfServer>
		<SiebelfsLogPath>\\seadvsbl19apl02\siebelfs\batchlogs</SiebelfsLogPath>
		<SiebelServerName>sbl19dvsrvr2</SiebelServerName>
		<SolarYearEndServer>sbl19dvsrvr2</SolarYearEndServer>
		<SiebSrvrNumber>2</SiebSrvrNumber>
		<Environment>DEV2</Environment>
		<SesSvc>SiebelApplicationContainer_Siebel_Home_D_sea_ses</SesSvc>
		<AiSvc>SiebelApplicationContainer_Siebel_Home_D_sea_ai</AiSvc>
	</Siebel>
	<VX>
        <SiebSrvrName>sbl19dvsrvr2</SiebSrvrName>
        <InsertServerStart>01</InsertServerStart>
        <InsertServerEnd>02</InsertServerEnd>
        <UpdateServer>03</UpdateServer>
    </VX>
	<FileSystemMonitor>
		<FolderPathToMonitor></FolderPathToMonitor>
		<GTDate></GTDate>
	</FileSystemMonitor>	
	<Email>
		<SMTPServer>Outbound.alaskaair.com</SMTPServer>
		<SMTPPort></SMTPPort>
		<MailFrom>solar.dev@alaskaair.com</MailFrom>
		<MailFromPassword></MailFromPassword>
		<MailTo>siebelalerts@alaskaair.onmicrosoft.com</MailTo>
		<AdminEmail>siebelalerts@alaskaair.onmicrosoft.com</AdminEmail>
		<MonthEndPrep>siebelalerts@alaskaair.onmicrosoft.com</MonthEndPrep>
		<AttachmentTempPath>D:\FTPRoot\Rollouts\componentoutput\compstatus_%CUR_YYYY%%CUR_MM%%CUR_DD%-%CUR_HH%%CUR_NN%%CUR_SS%.txt</AttachmentTempPath>
		<Attachment1FileName></Attachment1FileName>
		<Attachment2FileName></Attachment2FileName>
		<Attachment3FileName></Attachment3FileName>
		<SuccessEmailSubject></SuccessEmailSubject>
		<FailEmailSubject></FailEmailSubject>		
	</Email>
	<Azure>
		<certSubject>CN=solaradmin-test-keyvault-cert*</certSubject>
		<tenantId>0f44c5d4-42b0-45c2-bf55-d0fea8430d33</tenantId>
		<applicationId>81a0805c-7c4e-4b7d-b820-89467383acae</applicationId>
		<solarKeyVaultName>solaradminkeyvault</solarKeyVaultName>
	</Azure>
</Settings>

<!--

Parameter definitions:
	Siebel
		Gateway = Name of the Siebel Gateway
		Enterprise = Name of the Siebel Enterprise Server
		SiebelServer = Name of the Siebel Server
		AdminUser = Typically SADMIN
		AdminPassword = SADMIN's password
		SiebelServerServiceName = Siebel Server's Windows service name
		SiebelCFG = Full path to siebel.cfg file.  For example: C:\Siebel\8.1.1.11.0\ses\siebsrvr\BIN\ENU\siebel.cfg.
		SRFName = Name of SRF file.  Do not include path.  For example: siebel_sia.srf.
		SRFPath = Path to SRF file.  For example: C:\Siebel\8.1.1.11.0\ses\siebsrvr\OBJECTS\ENU.
		SRFCompilePath = Path where new SRF should be compiled.  For example: C:\Siebel\8.1.1.11.0\ses\siebsrvr\OBJECTS.
		SiebelGatewayAdminPath = Path to the Gateway Admin folder (where siebns.dat is located).  For example: C:\Siebel\8.1.1.11.0\ses\gtwysrvr\ADMIN.
		SiebelServerBinPath = Path to Bin folder of Siebel server.  For example: C:\Siebel\8.1.1.11.0\ses\siebsrvr\BIN.
		SiebelToolsBinPath = Path to Bin folder for Siebel Tools client.  For example: C:\Siebel\8.1\Tools_1\BIN.
		SiebelToolsCFG = Full path to Tools CFG file.  For example: C:\Siebel\8.1\Tools_1\BIN\ENU\tools.cfg.
		SiebelToolsDataSource = Tools CFG data source used to connect to server DB.  For example: ServerDataSrc.
		BrowserScriptDestPath = Folder where browser scripts should be generated.  For example: C:\Siebel\8.1.1.11.0\ses\siebsrvr\WEBMASTER.
		BrowserScriptLanguageCode = Language code used by genbscript.  For example: ENU.
		RepositoryName = Name of repository to export/compile.  For example: Siebel Repository.
		RepositoryExportPath = Name of folder where repository should be exported.  For example: C:\Siebel\8.1.1.11.0\ses\dbsrvr\ORACLE.
		RepositoryExportLogPath = Folder where the repository export log file should be saved.  For example: C:\Siebel\8.1.1.11.0\ses\siebsrvr\log.
		ServerDataSource = Name of ODBC data source that can be used to connect to the server database.
		DBTableOwner = Name of database table owner.  Typically, SIEBEL.
		TNSServiceName = Oracle DB only.  Name of the TNS service used to connect to the server database.
		ChangedRepositoryObjectsQueryText = Full path to file containing the SQL for recently changed repository objects.
		ChangedNonRepositoryObjectsQueryText = Full path to file containing the SQL for recently changed non repository objects.
		NoOfSiebSrvrs = No of Siebel Servers
		NoOfWebSrvrs = Number of WebServers
		SiebSrvrName = The naming convention for the siebel servers
		WebSrvrName = The naming convention for the web servers
		SvcNo = Used to describe the siebel server number when performing operation on a single server like importing/exporting the repository or performing SQL operations. Use the same server from where where the deployment process takes place. For example: if using(http://seatssbl16app01/.. then SvcNo should be 1)
		SvcName = The naming convention for the siebel service name.
		WebSrvSvcNo = Used to describe the siebel server number when performing operation on a single server like in case of GenerateObjectsForDeployment.ps1
		ImpRepositoryName = The name with which the new repository is imported in siebel database.
		ScriptLogPath = The directory where the log files are generated.
		SourceTSTDir = The directory where the latest files(SRF, Siebel Repository and customer.dat) are generated by running GenerateObjectsForDeployment.ps1
		RemoteSiebelServerBinPath = Path to Bin folder of Siebel server.  For example: C:$Siebel\8.1.1.11.0\ses\siebsrvr\BIN.
		RemoteSRFPath = Path to SRF file on Remote Computer.  For example: C$\Siebel\8.1.1.11.0\ses\siebsrvr\OBJECTS\ENU.
		RemoteSiebelClientRoot = Path to Siebel CLient Root on Remote Computer. D$\Siebel\Client
		SiebelToolsBinPath = The path to the bin directory of Tools: D:\Siebel\Tools\bin
		SiebelClientRoot = The path to the client directory of siebel dedicated client: D:\Siebel\Client
		RemoteSiebelToolsBinPath = The path to the bin directory of Tools on Remote computer: D$\Siebel\Tools\bin
		RemoteBrowserScriptDestPath = Folder where browser scripts should be generated on Remote computer.  For example: C$\Siebel\8.1.1.11.0\ses\siebsrvr\WEBMASTER.
		CurrDir = The path to the directory where files(SRF, Siebel Repository and customer.dat) are copied from remote server.
		PrevDir = The path to the directory where files(SRF, Siebel Repository and customer.dat) are archived before copying latest files from remote server.
		RemoteCurrDir = The path to the following directory on remote computer: D$\FTPRoot\Rollouts\LatestFiles
		RemotePrevDir = The path to the following directory on remote computer: D$\FTPRoot\Rollouts\Previous
		AuthenticatedUser = The user having full access to filesystems on required servers for performing file operations
		AuthenticatedUserPassword = The password for the username having full access to filesystems on required servers for performing file operations
		SharedDeploymentFiles = The directory where all the latest files srf,data file and genbscripts are stored in the shared drive.
		SiebSrvrNumber = Starting siebel host server number
		Environment = Siebel Environment
		   
	FileSystemMonitor
		FolderPathToMonitor = Directory you want the script to monitor for file changes.  For example: C:\Siebel\8.1.1.11.0.
		GTDate = Date after which you'd like monitor for changes in MM/DD/YYYY format.  For example: 01/04/2015.
	Email
		SMTPServer = SMTP server name used to send outbound emails.
		SMTPPort = Port used by SMTP server.
		MailFrom = Email address to send email from.
		MailFromPassword = Password for mail from account.
		MailTo = One or more email addresses to send the email to.  NOTE: use commas to separate multiple email addresses.
		AttachmentTempPath = Temporary folder where the script will save file attachments.
		Attachment1FileName = Name of the file change log attachment.  For example: File Change Log.txt.
		Attachment2FileName = Name of the repository change log attachment.  For example: DB Repository Change Log.csv.
		Attachment3FileName = Name of the non-repository change log attachment.  For example: DB Non Repository Change Log.csv.
		SuccessEmailSubject = Subject to be used by success email.
		FailEmailSubject = Subject to be used by fail email.
		

-->